# Ignore global dependencies if any
node_modules/

# Ignore editor/OS stuff
.vscode/
.idea/
.DS_Store
Thumbs.db

# Global logs
*.log

# Ignore built files if you're bundling both client/server here
/client/build/
/client/dist/
/server/dist/
